<!DOCTYPE html>
<html>
<head>
  <title>Ninefold Test App - wazza-is-awesome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar-header">
      <h1><%= image_tag "logo.png" %>Ninefold Test App<a href="/" class="btn btn-default">Home</a></h1>
    </div>
    <%= yield %>
  </div>
</body>
</html>
